<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
   <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head>
<body class="bg-[#121417]">


      <section>
            <div class="all flex flex-col justify-center items-center h-screen">
                  <div class="content bg-[#252d37] px-12 pb-24 pt-10 rounded-md">
                        <div class="inner">
                              <h1 class="text-center text-4xl text-white font-sans mb-4">Forget passowrd</h1>
                              <p class="text-white text-center text-sm py-6">Lorem ipsum, dolor sit amet consectetur </br> adipisicing elit. Fugiat, delectus.</p>
                              <form action="" class="flex flex-col gap-y-8 mt-4">
                                    <input class="my-2 outline-none w-72 px-4 h-10 rounded-md" type="email" name=""  placeholder="Enter your email...">
                                    
      
                                    <button class="bg-[#fb7413] text-white font-sans w-72 rounded-3xl mt-0 h-12  cursor-pointer" type="submit">Reset my passowrd</button>
                              </form>
                              
                        </div>
                  </div>
            </div>
            
      </section>


</body>
</html>