<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
   <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head>
<body class="bg-[#121417]">


      <section>
            <div class="all flex flex-col justify-center items-center h-screen">
                  <div class="content bg-[#252d37] px-12 pb-24 pt-10 rounded-md">
                        <div class="inner">
                              <h1 class="text-center text-4xl text-white font-sans mb-4">Log in</h1>
                              <form action="" class="flex flex-col gap-y-8">
                                    <input class="my-2 outline-none w-72 px-4 h-10 rounded-md" type="email" name=""  placeholder="Enter your email...">
                                    <input class="my-0 outline-none w-72 px-4 h-10 rounded-md" type="password" name=""  placeholder="Enter your password...">
                                   <p class="text-white flex flex-row justify-end float-right"><a href="{{url_for('forget_passowrd')}}" >Forget passowrd</a></p>
                                    <button class="bg-[#fb7413] text-white font-sans w-72 rounded-3xl mt-0 h-12  cursor-pointer" type="submit">Log in</button>
                              </form>
                              <h1 class="mt-4 text-gray-300 text-sm text-center"> I Don't Have an account?.<a href="{{url_for('sing_up')}}"  class="text-red-400">  Register</a></h1>
                        </div>
                  </div>
            </div>
            
      </section>


</body>
</html>